<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
    <resultMap id="BaseResultMap" type="category">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
    </resultMap>

    <select id="select" parameterType="Long" resultType="category">
        SELECT *
        FROM category
        WHERE id = #{id}
    </select>
    <select id="selectall" resultMap="BaseResultMap">
        SELECT *
        FROM category
    </select>
    <insert id="insert" parameterType="category">
        INSERT INTO category (parent_id, name, level)
        VALUES (#{parentId}, #{name}, #{level})
    </insert>
    <update id="update" parameterType="category">
        UPDATE category
        SET name  = #{name},
            level = #{level}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE
        FROM category
        WHERE id = #{id}
    </delete>
    <select id="first-category" resultType="category">
      SELECT *
      FROM category
      WHERE level = 1
    </select>

</mapper>






