<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">

    <select id="select" parameterType="Long" resultType="like">
        SELECT *
        FROM likes
        WHERE member_id = #{memberId}
          and product_id = #{productId}
    </select>
    <select id="selectall" resultType="like">
        SELECT *
        FROM likes
        WHERE member_id = #{memberId}
    </select>
    <insert id="insert" parameterType="like">
        INSERT INTO likes (member_id, product_id)
        VALUES (#{memberId}, #{productId})
    </insert>
    <delete id="delete" parameterType="Long">
        DELETE
        FROM likes
        WHERE member_id = #{memberId}
          and product_id = #{productId}
    </delete>

</mapper>






