<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="likes">

    <resultMap id="likes" type="app.entity.Likes">
        <result column="member_id" property="memberId" jdbcType="BIGINT" javaType="Long"/>
        <result column="product_id" property="productId" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>

    <select id="select" parameterType="ProductAndMemberCompositeKey" resultMap="likes">
        SELECT *
        FROM likes
        WHERE member_id = #{memberId}
          and product_id = #{productId}
    </select>
    <select id="selectall" resultMap="likes">
        SELECT *
        FROM likes
        WHERE member_id = #{memberId}
    </select>
    <insert id="insert" parameterType="likes">
        INSERT INTO likes (member_id, product_id)
        VALUES (#{memberId}, #{productId})
    </insert>
    <delete id="delete" parameterType="app.dto.comp.ProductAndMemberCompositeKey">
        DELETE
        FROM likes
        WHERE member_id = #{memberId}
          and product_id = #{productId}
    </delete>

</mapper>






