<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

    <select id="select" parameterType="Long" resultType="order">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultType="order">
        SELECT *
        FROM orders
    </select>
    <insert id="insert" parameterType="order">
        INSERT INTO orders (member_id, status)
        VALUES (#{memberId}, #{status})
    </insert>
    <update id="update" parameterType="order">
        UPDATE orders
        SET member_id = #{memberId},
            status    = #{status},
            updated_at = now()
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE
        FROM orders
        WHERE id = #{id}
    </delete>

</mapper>






